<option value="Adams - Adams-Friendship Times">Adams - Adams-Friendship Times</option>
<option value="Ashland - The Daily Press">Ashland - The Daily Press</option>
<option value="Barron - The Chronotype">Barron - The Chronotype</option>
<option value="Bayfield - The County Journal">Bayfield - The County Journal</option>
<option value="Brown - Green Bay Press-Gazette">Brown - Green Bay Press-Gazette</option>
<option value="Buffalo - Mondovi Herald News">Buffalo - Mondovi Herald News</option>
<option value="Burnett - Burnett County Sentinel">Burnett - Burnett County Sentinel</option>
<option value="Chippewa - The Chippewa Herald">Chippewa - The Chippewa Herald</option>
<option value="Clark - The Clark County Press">Clark - The Clark County Press</option>
<option value="Columbia - Portage Daily Register">Columbia - Portage Daily Register</option>
<option value="Crawford - Courier Press">Crawford - Courier Press</option>
<option value="Dane - The Capital Times">Dane - The Capital Times</option>
<option value="Dane - Wisconsin State Journal">Dane - Wisconsin State Journal</option>
<option value="Dodge - Beaver Dam Daily Citizen">Dodge - Beaver Dam Daily Citizen</option>
<option value="Door - Door County Advocate">Door - Door County Advocate</option>
<option value="Douglas - Superior Telegram">Douglas - Superior Telegram</option>
<option value="Dunn - The Dunn County News">Dunn - The Dunn County News</option>
<option value="Eau Claire - Leader-Telegram">Eau Claire - Leader-Telegram</option>
<option value="Florence - The Florence Mining News">Florence - The Florence Mining News</option>
<option value="Fond du Lac - The Reporter">Fond du Lac - The Reporter</option>
<option value="Forest - The Forest Republican">Forest - The Forest Republican</option>
<option value="Grant - The Boscobel Dial">Grant - The Boscobel Dial</option>
<option value="Green - The Monroe Times">Green - The Monroe Times</option>
<option value="Green Lake - Berlin Journal">Green Lake - Berlin Journal</option>
<option value="Iowa - The Dodgeville Chronicle">Iowa - The Dodgeville Chronicle</option>
<option value="Iron - The Daily Globe">Iron - The Daily Globe</option>
<option value="Jefferson - Daily Jefferson County Union">Jefferson - Daily Jefferson County Union</option>
<option value="Juneau - The Messenger of Juneau County">Juneau - The Messenger of Juneau County</option>
<option value="Kenosha - Kenosha News">Kenosha - Kenosha News</option>
<option value="La Crosse - La Crosse Tribune">La Crosse - La Crosse Tribune</option>
<option value="Lafayette - Republican Journal">Lafayette - Republican Journal</option>
<option value="Langlade - Antigo Daily Journal">Langlade - Antigo Daily Journal</option>
<option value="Lincoln - Foto News">Lincoln - Foto News</option>
<option value="Manitowoc - Herald Times Reporter">Manitowoc - Herald Times Reporter</option>
<option value="Marathon - Wausau Daily Herald">Marathon - Wausau Daily Herald</option>
<option value="Marinette - Peshtigo Times">Marinette - Peshtigo Times</option>
<option value="Marquette - The Marquette County Tribune">Marquette - The Marquette County Tribune</option>
<option value="Menominee - Menominee Nation News">Menominee - Menominee Nation News</option>
<option value="Milwaukee - Milwaukee Journal Sentinel">Milwaukee - Milwaukee Journal Sentinel</option>
<option value="Monroe - The Sparta Herald">Monroe - The Sparta Herald</option>
<option value="Oconto - Oconto County Reporter">Oconto - Oconto County Reporter</option>
<option value="Oneida - The Northwoods River News">Oneida - The Northwoods River News</option>
<option value="Outagamie - The Post-Crescent">Outagamie - The Post-Crescent</option>
<option value="Ozaukee - News Graphic">Ozaukee - News Graphic</option>
<option value="Ozaukee - Ozaukee Press">Ozaukee - Ozaukee Press</option>
<option value="Pepin - The Courier-Wedge">Pepin - The Courier-Wedge</option>
<option value="Pierce - Pierce County Herald">Pierce - Pierce County Herald</option>
<option value="Polk - Inter-County Leader">Polk - Inter-County Leader</option>
<option value="Portage - Stevens Point Journal">Portage - Stevens Point Journal</option>
<option value="Price - Price County Review">Price - Price County Review</option>
<option value="Racine - The Journal Times">Racine - The Journal Times</option>
<option value="Richland - The Richland Observer">Richland - The Richland Observer</option>
<option value="Rock - Beloit Daily News">Rock - Beloit Daily News</option>
<option value="Rock - The Janesville Gazette">Rock - The Janesville Gazette</option>
<option value="Rusk - Ladysmith News">Rusk - Ladysmith News</option>
<option value="Sauk - Baraboo News Republic">Sauk - Baraboo News Republic</option>
<option value="Sawyer - Sawyer County Record">Sawyer - Sawyer County Record</option>
<option value="Shawano - Shawano Leader">Shawano - Shawano Leader</option>
<option value="Sheboygan - The Sheboygan Press">Sheboygan - The Sheboygan Press</option>
<option value="St. Croix - Hudson Star-Observer">St. Croix - Hudson Star-Observer</option>
<option value="Taylor - The Star News">Taylor - The Star News</option>
<option value="Trempealeau - Trempealeau County Times">Trempealeau - Trempealeau County Times</option>
<option value="Vernon - Vernon County Broadcaster">Vernon - Vernon County Broadcaster</option>
<option value="Vilas - The Lakeland Times">Vilas - The Lakeland Times</option>
<option value="Walworth - Lake Geneva Regional News">Walworth - Lake Geneva Regional News</option>
<option value="Washburn - Spooner Advocate">Washburn - Spooner Advocate</option>
<option value="Washington - Daily News">Washington - Daily News</option>
<option value="Waukesha - The Freeman">Waukesha - The Freeman</option>
<option value="Waupaca - Waupaca County Post">Waupaca - Waupaca County Post</option>
<option value="Waushara - Waushara Argus">Waushara - Waushara Argus</option>
<option value="Winnebago - Oshkosh Northwestern">Winnebago - Oshkosh Northwestern</option>
<option value="Wood - Marshfield News-Herald">Wood - Marshfield News-Herald</option>